<% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
<% end %>
<div id="maincontent">

 <% if @hasadmin %>
 <p>Welcome Admin! You have admin access.</p>
  <% end %>


  <div>

    <%= render 'posts/sharedindex' %>
  </div>
  <%= link_to 'New Post', new_post_path %>
</div>

