<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<% if session[:user_admin] == true %>
    <%= link_to 'Back', users_url %>
<% end %>
<% if session[:user_admin] != true %>
    <%= link_to 'Back', posts_url %>
<% end %>

