/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.layouthelper{border:1px solid red;}
.clearboth{clear: both;}

#columns{padding: 20px;}

#side{float:left; width: 150px;}
#side li{padding-bottom: 10px;}
#main{float: left; margin-left:20px;padding: 10px;min-width: 400px;min-height: 400px;}

